<ActionBar>
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Discipline"></Label>
</ActionBar>

<GridLayout>
    <ListView [items]="disciplines">
        <ng-template let-item="item">
            <StackLayout [nsRouterLink]="['./exam', item.id]">
                <Label [text]='"Disciplina: " + item.name'></Label>
                <Label [text]='"Descriere: " + item.description'></Label>
            </StackLayout>
        </ng-template>
    </ListView>
</GridLayout>
